

ul{
    list-style-type: none;
    display: flex;
    gap: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topsection{
    background-color: #1F2937;
}